<h1>All conversations for <%= current_user.name %></h1>

<% @conversations.each do |conversation| %>
<%= link_to conversation.subject, conversation_path(conversation) %>
<% end %>
<br>

<%= link_to 'New Conversation', new_conversation_path %>
