<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
</div>

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
  <h1>All conversations for <%= current_user.name %></h1>
  <div class="well">
    <%= link_to 'New Conversation', new_conversation_path %>
  </div>

  <% @conversations.each do |conversation| %>
  <div class="well well-lg">
    <h4><%= link_to conversation.subject, conversation_path(conversation) %></h4>
  </div>
  <% end %>
  <br>
</div>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
</div>
