<h1>All conversations for <%= current_user.name %></h1>

<% @conversations.each do |conversation| %>
<%= link_to conversation_path(conversation) %>
<% end %>

<%= link_to 'New Conversation', new_conversation_path %>
