<div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
  <h3>Find a project to join</h3>
  <br><br>

  <div class="row">
    <% @projects.order('created_at DESC').each do |project| %>


    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail">
        <h3><%= link_to project.title, project %></h3>
        <% section = Section.find_by(project_id: project.id)%>
        <%= image_tag section.image.url(:medium) unless section.blank? %>
        <h6><%= project.overview %></h6>

      </div>
    </div>

    <% end %>
  </div>
</div>


<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">

  <%= link_to new_project_path, class: "btn" do %>
  <div class="glyphicon glyphicon-plus"></div>
  <% end %>

</div>
